pkgbase = feel
	pkgdesc = 记录当前感受的命令行工具
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/CamelliaTse/feel
	arch = any
	license = MIT
	depends = python
	source = feel
	sha256sums = 9384aa69a15817e1bb5d32b39f9ef7b1f47480203800cc3c6de63a574b3535e2
	validpgpkeys = 28E1F22CFC60A1BA17B95D11CDEABF16DC0D8711

pkgname = feel
