pkgbase = feel
	pkgdesc = 记录当前感受的命令行工具
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/CamelliaTse/feel
	arch = any
	license = MIT
	depends = python
	source = feel
	sha256sums = 039323375896387968924e22683c4d26d715018c7a62e6356b9c582f5e7bec52
	validpgpkeys = 28E1F22CFC60A1BA17B95D11CDEABF16DC0D8711

pkgname = feel
